<h5>My Android apps at Utah State University</h5>

<p>I took "Android development class" at Utah State and at that time it was just about completing my assignments in time. Today, I love writting Android code. When ever I get some free time, I try to complete my apps. Its becoming more like a hobby for me to write android code even though I have published only one app</p>


<h5><u>Projects</u></h5>

<ul>
  <li><b><u><a href="https://play.google.com/store/search?q=rockets+and+pumpkins/" target="_blank">RocketsAndPumpkins</a></u></b>
  	<ul>
  	  <li>Role - Software engineer </li>
  	  <li>Contribution - Design and development of the app</li>
  	  <li>Description - This is a simple interactive arcade game for visually impaired people as well as for people with no disabilities</li>
  	  <li>Team size - 1</li>
  	</ul>
  </li>
  <br/>  

  <li><b>Where is my stuff</b>
  	<ul>
  	  <li>Role - Software engineer </li>
  	  <li>Contribution - Design and development of the application</li>
  	  <li>Description - This is a simple app where people can keep track of house hold items. Work in progress</li>
  	  <li>Team size - 1</li>
  	</ul>
  </li>