<h5><u>Research Assistant/Software Engineer</u> at <a href="http://idias.usu.edu/" target="_blank">IDIAS</a>, Utah State University</h5>

<p> <b>Duration - </b> November, 2010 - Present </p> 

<p> 
Researching is always fun and when it is in the name of !! Gaming !! it means a real big screen and Xbox 360 :) 
Well, here is a brief background - Our group is developing an educational game (First person shooter) as a part of NSF grant "DRK12". It aims at teaching science to students of 8 grade. For example like how different states of matter has differnet molecular structure. Nearly 20 schools from Utah and 20 from NewYork are participating in this project. Its big.
</p>

<h5><u>Projects</u></h5>

<ul>
  <li><b><u><a href="http://idias.usu.edu/scape" target="_blank">S'cape (C#)</a></u></b>
  	<ul>
  	  <li>Role - Software Engineer </li>
  	  <li>Contribution - Design and development of the game</li>
  	  <li>Description - Development of an educational game using Unity3D engine and C# with automated assessment functionality and replay mode </li>
  	  <li>Team size - 4</li>
  	</ul>
  </li>
  <br/>

  <li><b><u><a href="http://geobobapp.usu.edu/" target="_blank">GeoBob(RoR)</a></u></b>
  	<ul>
  	  <li>Role - Software Engineer </li>
  	  <li>Contribution - Maintenance and adding new features </li>
  	  <li>Description - Used for developing GPS based mobile games. It is build using Rails 3.0.1, Ruby 1.8.7, JQuery, MySql</li>
  	  <li>Team size - 1</li>
  	</ul>
  </li>
</ul>