
<h5><u>Schools</u></h5>

<ul>
  <li><b><u><a href="http://usu.edu/" target="_blank">Utah State University</a></u></b>
  	<ul>
  	  <li>Degree - M.S in Computer Science </li>
  	  <li>GPA - 3.71</li>
  	  <li>Expected  - September 2012</li>
  	</ul>
  </li>
  <br/>  

  <li><b><u><a href="http://abes.ac.in/" target="_blank">ABES Engineering College</a></u></b>
  	<ul>
  	  <li>Degree - B.Tech in Electronic and Communication </li>
  	  <li>Percentage - 68 %</li>
  	  <li>Completed on  - May, 2007</li>
  	</ul>
  </li>