<h5><u> Independent Study Project </u> at Utah State University</h5>

<p><b>Duration - </b> January, 2012 - Present</p>

<p> 
</p>

<h5><u>Project</u></h5>

<ul>
  <li><b>Profiling Pig queries in a Hadoop cluster</b>
  	<ul>
  	  <li>Role - Software engineer</li>
  	  <li>Contribution - Set up of Hadoop cluster in the CS department lab using 5 Linux boxes, Setup of Pig, configuration of Yourit Java profiler to profile mapreduce jobs</li>
  	  <li>Description - This is my independent study project. </li>
  	  <li>Team size - 1</li>
  	</ul>
  </li>
</ul>
<ul>
	<li><b><a href="https://github.com/athap/LuceneProjects" target="_blank">LuceneBlogSearch</a></b>  
  	<ul>
  	  <li>Role - Software engineer</li>
  	  <li>Contribution - Development of the project</li>
  	  <li>Description - I created this simple project in order to understand how lucene indexes documents. This projects creates some fake blog data and then indexes it. It uses Lucene 3.6</li>
  	  <li>Team size - 1</li>
  	</ul>
  </li>
</ul>