<h5><u> Software Engineer Intern </u> at <a href="http://tatemae.com/" target="_blank">Tatemae</a></h5>

<p><b>Duration - </b> January, 2012 - Present</p>

<p> Tatemae, its a start up organization full of talented people :). Tatemae will be launching its new product soon and I am pretty sure its going to rock !! We write a lot of Ruby code here.

Well, Ruby reminded me of a quote.
<i>"Ruby is the language Buddha would have programmed in."
                                  -- Sean Russell, Author: REXML Ruby Library
</i>
Back to the topic
</p>

<h5><u>Projects</u></h5>

<ul>
  <li><b><a href="http://eportfolio.saylor.org/" target="_blank">ePortfolio</a></b>
  	<ul>
  	  <li>Role - Software engineer</li>
  	  <li>Contribution - Design and development of the application</li>
  	  <li>Description - This is an eportfolio system for open education students to maintain their courses and area of studies. It is build using Rails 3.2.1, Ruby 1.9.3, Backbone.js, JQuery, MySql  </li>
  	  <li>Team size - 10</li>
  	</ul>
  </li>
</ul>
