<h5>My Java/CSharp projects at Utah State University</h5>

<p>I write C# code each day as compared to Java but still I try to use Java whereever possible</p>


<h5><u>Projects</u></h5>

<ul>
  <li><b><a href="https://github.com/athap/JavaProjects/tree/master/WordChain" target="_blank">Word Ladder using Dijkstra's algorithm</a></b>   
    <ul>
      <li>Role - Software Engineer </li>
      <li>Contribution - Implementation of the algorithm</li>
      <li>Description - Implementation of Word ladder game(also known as a doublets, word-links, or Word golf) using Dijkstra's algorithm</li>
      <li>Team size - 1</li>
    </ul>
  </li>

  <li><b>Word Guessing Game in C#</b>
  	<ul>
  	  <li>Role - Software Engineer </li>
  	  <li>Contribution - Design and development of the application</li>
  	  <li>Description - This is a simple word guessing game based on a client and server</li>
  	  <li>Team size - 1</li>
  	</ul>
  </li>
  <br/>

  <li><b>Travelling Sales Man in Java</b>
  	<ul>
  	  <li>Role - Software Engineer </li>
  	  <li>Contribution - Implementation of the algorithm</li>
  	  <li>Description - Implementation of travelling sales man problem using branch and bound algorithm</li>
  	  <li>Team size - 1</li>
  	</ul>
  </li>
</ul>