<h5><u>Project Engineer </u> at <a href="http://wipro.com/" target="_blank">Wipro Technologies</a></h5>

<p><b>Duration - </b> March, 2008 - March, 2010</p>

<p>
My past work experience includes working in Securities and Telecom domain for 
<a href="www.wipro.com" target="_blank">Wipro Technologies</a>, India 
</p>

<h5><u>Projects</u></h5>

<ul>
  <li><b><u>Toll Free Provisioning for Bell Canada</u></b>
  	<ul>
  	  <li>Role - Project engineer </li>
      <li>Contribution - Design and development of migration and rollback utility </li>
  	  <li>Description -  Data was migrated from Tandem system to Oracle database using Java based ConceptWave Order Management tool</li>
  	  <li>Team size - 15</li>
  	</ul>
  </li>
  <br/>

  <li><b><u>Unitrax SRP for Citi Canada</u></b>
  	<ul>
  	  <li>Role - Project engineer</li>
      <li>Contribution - Development of look up tables</li>
  	  <li>Description - Lookup tables were used to retrieve data which was displayed as a pop up using IBM RBD tool in EGL language</li>
  	  <li>Team size - 8</li>
  	</ul>
  </li>
</ul>

<p>Ya, I know, nothing interesting here. You probably need a red bull now. Well try another tab :)</p>

