<h5>My RubyonRails projects at Utah State University</h5>

<p>Well, I am still learning Ruby on Rails and this website is a result of that. I mean its a simple website with a bunch of links. With the help of superb service by heroku, I was able to deploy my app for FREE. </p>


<h5><u>Projects</u></h5>

<ul>
  <li><b><u><a href="http://scape.herokuapp.com/" target="_blank">Scape Data Collection with d3.v2.js</a></u></b>
    <ul>
      <li>Role - Software Engineer </li>
      <li>Contribution - Design and development of the application</li>
      <li>Description - This is a data collection app for the 3D game Scape. In Scape, students takes quizzes at the end of each level. The results are sent to this app for analysis. Teachers can also download the data. Also, data visualization is provided with the help of <b>pie charts</b>. Specs - Rails 3.2.1, Ruby 1.9.3, d3.v2.js and Postgres</li>
      <li>Team size - 1</li>
    </ul>
  </li>
  <br/>

  <li><b><u><a href="http://atulthapliyal-mitra.heroku.com/" target="_blank">Mitra</a></u></b>
  	<ul>
  	  <li>Role - Software Engineer </li>
  	  <li>Contribution - Design and development of the application</li>
  	  <li>Description - This is a simple blogging application using Rails 3.0.5, Ruby 1.8.7 and Sqlite</li>
  	  <li>Team size - 1</li>
  	</ul>
  </li>
  <br/>

  <br/>
  <li><b><u><a href="http://atulthapliyal.heroku.com/" target="_blank">My Website</a></u></b>
  	<ul>
  	  <li>Role - Software Engineer </li>
  	  <li>Contribution - Design and development of the application</li>
  	  <li>Description - This is my website using Rails 3.0.9, Ruby 1.8.7 and Sqlite</li>
  	  <li>Team size - 1</li>
  	</ul>
  </li>
</ul>