<div id="tweets">    
      <script>
        new TWTR.Widget({
          version: 2,
          type: 'profile',
          rpp: 6,
          interval: 30000,
          width: 200,
          height: 200,
          theme: {
            shell: {
              background: '#333333',
              color: '#ffffff'
            },
            tweets: {
              background: '#000000',
              color: '#ffffff',
              links: '#4aed05'
            }
          },
          features: {
            scrollbar: true,
            loop: false,
            live: false,
            behavior: 'all'
          }
        }).render().setUser('a_thap').start();
      </script>
    </div>

<p>
Hi !!
I am a masters student at <a href="www.usu.edu" target="_blank">Utah State University</a>, Computer Science. I like Logan city as it is close to the nature with beautiful summer. Camping and fishing are at the top of my to do list. I also work for <a href="http://idias.usu.edu/" target="_blank">IDIAS</a> with <a href="http://itls.usu.edu/htm/profile&brett-shelton" target="_blank">Dr. Brett Shelton</a>.
</p>

<p>
I am still learning how to be a better programmer and honestly, I try to learn by seeing how other good programmers code. I mostly write code in C# and Ruby
</p>

<p>
Surprisingly, my under grad was in Electronics & Communication, India, (2003 - 2007). Yes, I know a little about 8086 and those scary mosfets. After completing my under grad, I started working with Wipro Technologies (WT), India, as a Java developer. After working for 2.5 years I realised the importance of a masters degree and started explored my options for masters degree in Computer Science. 
<br>
This was my gateway to Utah State University.
<br>
<b>Thanks for reading.</b>
</p>

