<p>
Hi !!
I am a masters student at <a href="www.usu.edu" target="_blank">Utah State University</a>, Computer Science. I like Logan city as it is close to the nature with beautiful summer. Camping and fishing are at the top of my to do list. I also work for <a href="http://idias.usu.edu/" target="_blank">IDIAS</a> with <a href="http://itls.usu.edu/htm/profile&brett-shelton" target="_blank">Dr. Brett Shelton</a>. Dr Shelton is also a hockey player.
</p>

<p>
I have also worked in Securities and Telecom domain for <a href="www.wipro.com" target="_blank">Wipro Technologies</a>, India, for nearly 2.5 years (2008 - 2010). I have worked as a member of a team of 20 delevopers for clients like Bell-Canada in the Toll Free Provisionsing project and Citi-Canada in the Unitrax project.
</p>

<p>
Surprisingly my under graduation(Bachelors of Technology) was in Electronics & Communication, India, (2003 - 2007). Yes, I know a little about 8086. After completing it, I joined Wipro Technologies (WT), India, as a Java developer. Most of my industry experience comes from WT where I attened training like <b>Core Java</b>, <b>Adobe Flex</b>, <b>Concept Wave</b> etc. After working for 2.5 years I realised the importance of a masters degree and started explored my options for masters degree in Computer Science. 
<br>
This was my gateway to Utah State University.
<br>
<b>Thanks for reading.</b>
</p>

