<h3>OpenSim Virtual experiments</h3>
<object width="240" height="200">
  <param name="movie" value="http://www.youtube.com/v/YJNyGch9jkk&hl=en_US&fs=1&"></param>
  <param name="allowFullScreen" value="true"></param>
  <param name="allowscriptaccess" value="always"></param>
  <embed src="http://www.youtube.com/v/YJNyGch9jkk&hl=en_US&fs=1&" type="application/x-shockwave-flash" allowscriptaccess="always"
    allowfullscreen="true"  width="240"  height="200">
  </embed>
</object>
<object width="240" height="200">
  <param name="movie" value="http://www.youtube.com/v/91r3sP_1ciA&hl=en_US&fs=1&"></param>
  <param name="allowFullScreen" value="true"></param>
  <param name="allowscriptaccess" value="always"></param>
  <embed src="http://www.youtube.com/v/91r3sP_1ciA&hl=en_US&fs=1&" type="application/x-shockwave-flash" allowscriptaccess="always"
    allowfullscreen="true"  width="240"  height="200">
  </embed>
</object>
<object width="240" height="200">
  <param name="movie" value="http://www.youtube.com/v/46DBhAINH4c&hl=en_US&fs=1&"></param>
  <param name="allowFullScreen" value="true"></param>
  <param name="allowscriptaccess" value="always"></param>
  <embed src="http://www.youtube.com/v/46DBhAINH4c&hl=en_US&fs=1&" type="application/x-shockwave-flash" allowscriptaccess="always"
    allowfullscreen="true"  width="240"  height="200">
  </embed>
</object>
