<p>Hi Guys. I am a Java and C# programmer. Presently I am working on virtual environments like <a href="http://unity3d.com/" target="_blank">Unity 3D</a> and
<a href="http://opensimulator.org/" target="_blank">OpenSim</a>. I am developing virtual experiments for students so that they can understand science better and perform experiments in virtual world which are difficult to preform in real world. I also like Ruby on Rails (I mean I am done with the classic "Hello World" example).
</p>

<table border="1" cellspacing="40">
  <tr>
    <th>Rails</th>
    <th>CSharp</th>
    <th>Java</th>
  </tr>
  <tr>
    <td><a href="http://atulthapliyal-mitra.heroku.com/" target="_blank"><b>Mitra : Click to view</b></a></td>
    <td>Word Guessing Game - Vocabulary builder</td>
    <td>Nine Men Morris Game</td>
  </tr>
  <tr>
    <td><a href="http://atulthapliyal-istore.heroku.com/" target="_blank"><b>Book Store : Click to view</b></a></td>
    <td>Resource Management System</td>
    <td>Travelling Sales Man</td>
  </tr>
  <tr>
    <td>This website</td>
    <td>Http 1.0 server in c and Others</td>
    <td>More algorithms and others</td>
  </tr>

</table>
<b>Virtual Physics experiments for kids (Grade 8)</b>

<ul><li><%= render'layouts/videos'%></li></ul>
