<p>Hi Guys. I am still learning Ruby on Rails and this website is a result of that. I mean its a simple website with a bunch of links. With the help of superb service by heroku, I was able to deploy my app for FREE therby saving some bucks.  I mostly write code in C# and java but lately I have developed an interest in the virtual environments like <a href="http://unity3d.com/" target="_blank">Unity 3D</a> and <a href="http://opensimulator.org/" target="_blank">OpenSim</a>. I am developing virtual experiments for students so that they can understand science better and perform experiments in virtual world which are difficult to preform in real world. I have also started learning Android programming (I mean I am done with the classic "Hello World" example). Below are some of my projects. 
</p>

<table border="1" cellspacing="40">
  <tr>
    <th>Rails</th>
    <th>C Sharp & Unity3D</th>
    <th>Java</th>
  </tr>
  <tr>
    <td><a href="http://atulthapliyal-mitra.heroku.com/" target="_blank"><b>Mitra : Click to view</b></a></td>
    <td>Word Guessing Game - Vocabulary builder</td>
    <td>Nine Men Morris Game</td>
  </tr>
  <tr>
    <td><a href="http://atulthapliyal-istore.heroku.com/" target="_blank"><b>Book Store : Click to view</b></a></td>
    <td>Unity 3D games and experimets for kids</td>
    <td>Travelling Sales Man</td>
  </tr>
  <tr>
    <td>This website</td>
    <td>Http 1.0 server in c and Others</td>
    <td>More algorithms and others</td>
  </tr>

</table>
<u><%= link_to "Virtual Physics experiments for kids", experiments_path %></u>


